/*****************************************/
/*** Article                          ****/
/*****************************************/
#domain-tld-banner-2,
#script-banner {
    float: none;
    width: 98%;
    min-height: 212px;
    height: auto;
    margin: 5px auto;
    padding: 15px;
    font-size: 2em;
    color: #fff;
    background: #999;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow:1px 5px 5px 15px #333; /* Firefox */
    -webkit-box-shadow: 5px 5px 15px #333; /* Safari, Chrome */
    box-shadow: 5px 5px 15px #333;
    text-align: center;
}
#script-banner {
	font-size: 1em;
}
#domain-tld-banner-2 span.tld {
    float: none;
    font-size: 2.5em;
    line-height: 1.2em;
    color: #fff;
} 
#pw_domain-tld {
    width: 35%;
    display: inline-block;
    vertical-align: middle;
}
.arrow {
    width: 140px;
    height: 150px;
    display: inline-block;
    margin: 0 20px;
    vertical-align: middle;
}
#pw_domain-offer {
    width: 410px;
    display: inline-block;
    padding: 20px;
    vertical-align: middle;
}

.pr_rp_sing_up_form {
    padding: 5px 0;
    overflow: hidden;
}
.rpwp-button.colorize:hover {
	text-decoration: none;
}
#script-banner-plan-features {
    float: none;
    width: 35%;
    display: inline-block;
}
h3.script-banner-title {
    font-size: 1.7em;
    line-height: 1.2em;
    width: 100%;
    padding: 5px 0px 0px 5px;
    text-align: left;
    }
#script-banner-plan-features ul {
    float: none;
    text-align: left;
}
#script-banner-plan-features ul li {
    font-size: 1em;
    line-height: 2em;
}
.script-banner-price {
    float: none;
    margin-top: 0px;
    margin-right: 30px;
    text-align: center;
    position: static;
    top: 0;
    right: 0;
    color: #fff;
    width: 25%;
    display: inline-block;
}
.script-banner-price .rpwp-button {
	margin: 0 auto !important;
}
#script-banner-img {
    float: none;
    margin: 0;
    display: inline-block;
}
.ui-widget {
    font-family: 'Open Sans', Verdana, Arial, sans-serif !important;
    }
.ui-widget-content a {
    color: #1f83c2 !important;
}
.rp-tld-price td.rp-tld-col-first a, .rp-tld-info td.rp-tld-col-first a {
    color: #fff000 !important;
}

.article {
	text-align: left;
	padding: 30px;
	}
.article-with-sidebar {
	display: table-cell;
	vertical-align: top;
	padding-right: 10px;
	padding-top: 0;
	}
.sidebar-in-headline {
	background: url("/images/bkg_headline.png") top center repeat;
}

.headline h2,
h3.domain-banner-title-1 {
  margin: 0;
    padding-bottom: 10px;
    background: url("/images/bkg_line_thin.png") bottom no-repeat;
}
    
.headline h2,
.panel-grid h3,
.panel-grid h4,
.pw-boxes .box-header {
  font-family: 'Eras Bk BT', 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
	}
.panel-grid h4 {
  font-size: 1.25em;
  line-height: 1.25em;
}

.panel-grid {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.panel-grid-cell {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    h3 {
        color: #111;
        text-shadow: 2px 2px 5px #999;
    }
}

.panel-grid-cell ul,
.panel-grid-cell ul li {
    text-align:left;
}

.panel-text {
  font-size: 1em;
  font-weight: 400;
  padding-right: 30px;
  padding-left: 30px;
	}

.pw-title {
    background: #AAA;
    text-align: center;
    clear: both;
    color: white;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 0;
    padding: 20px;
}

.terms {
    font-size: 0.9em;
}

#default_content .terms ol li {
    padding: 0 0 0 9px;
} 
/*** Domains ***/
/*
#domain-search-form {
    width: 100%;
    height: auto;
    margin: 0;
    float: none;
    overflow: hidden;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    background: url("/images/bkg_headline.png") top center repeat;
} 

#domain-search-form {
	padding: 10px 0 10px;
}

#domain-search-form h3 {
	float: none;
	width: 100%;
} 
#domain-search-form h3 {
	margin: 0;
	font-size: 1.5em;
}
*/

#promo-tlds {
    float: none;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px 10px 20px;
    text-align: center;
}

.domains {  
    background: url("/images/bkg_headline.png") top center repeat;
    .col-xs-6,
    .col-sm-4,
    .col-md-2 {
        padding: 0 5px;
    }
    h3 {
        font-family: $fancy-font-family;
        text-shadow: $default-text-shadow;
    }
    .panel {
        margin: 0;
        border: 1px solid #c6c6c6;
        -webkit-box-shadow: $default-box-shadow;
        -moz-box-shadow: $default-box-shadow;
        box-shadow: $default-box-shadow;
        a {
            display: block;
        }
        &:hover {
            background-color: darken(#fff, 5%);
            border-color: darken(#c6c6c6, 10%);
        }
    }
    .panel-body {
        padding: .5em;
    }
    .washer {
        border: 5px solid transparent;
    }
}


.domains h3,
.domains .fee {
    margin: 5px 0;
    font-size: 1.5em;
    text-align: center;
}

#jquery-live-search { 
    width: 340px !important;
    margin-top: 2px;
    border-width: 1px;
    .row div {
        padding: 5px;
        &.text {
            padding: 10px 5px;
        }
    }
    .btn {
        width: 90px;
    }
}

#sidebar, .aside {
    display: table-cell;
    width: auto;
    float: none;
    padding: 20px;
    overflow: hidden;
}

.aside img {
    border: 1px solid #323232;
    -webkit-box-shadow: 5px 5px 7px #555;
    -moz-box-shadow: 5px 5px 7px #555;
    box-shadow: 5px 5px 20px #333;
}

#loading {
    position: absolute;
    text-align: center;
    font-size: 2em;
    padding: 20px;
}

div.vcenter {
    min-height: 5rem;
}

p.vcenter {  //must be used with parent having relative position
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.fee p.vcenter {
    right: 0;
}

#pw-presentation {
    text-shadow: 2px 2px 5px #999;
    width: 800px;
    margin: 0 auto;
    .pw-plan {
        text-align: center;
        .glyphicon {
            font-size: 1.5em;
        }
        .glyphicon-ok-circle {
            color: green;
        }
        .glyphicon-remove-circle {
            color: red;
        }
    }
    .pw-plan-header {
        color: #111;
        text-shadow: $default-text-shadow;
        font-family: 'Eras Bk BT', 'Open Sans', sans-serif;
        font-size: 1.5em;
        font-weight: bold;
    }
    .fee {
        font-size: 1.5em;
    }
    .pw-desc {
        font-size: 1rem;
        text-align: left;
    }
    .pw-feature-header {
        font-weight: bold;
        background-color: #eee;
    }
} 

.domain-results-main {
    padding: 0;
    .row {
        border: 5px solid #eee;
    }
    @media (min-width: $screen-sm-min) {
        padding: 20px;
    }
}

.domain-results {
    font-size: 0.7em;
    margin: 0 auto;
    padding: 0;
    @media (min-width: $screen-sm-min) {
        font-size: 0.8em;
        padding: 20px;
    }
    &>div {
        background-color: #F4F4F4;
        border-bottom: 1px solid #D6D6D6;
    }
}

#domain-search-form {
    form {
        padding-top: 20px;
    }
    .input-group {
        display: inline-table;
        vertical-align: middle;
    }
    .tld-cont {
        font-size: 1.5em;
    }
    .domain-search-button {
        margin: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.form-inline .input-group.domain-search-input {
    width: 100%;
    border-radius: 6px;
    @media (min-width: 480px) {
        width: 420px;
    }
    @media (min-width: 768px) {
        width: 540px;
    }
}

#domain_sld {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1.125em; 
    @media (min-width: 480px) {
        width: 300px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    @media (min-width: 768px) {
        width: 420px;
    }
}

#domain_tld { 
    font-weight: bold;
    text-align: left;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-left: 1px solid #ccc;
    width: 100%;
    @media (min-width: 480px) {
        width: 120px; 
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-left: 0;
    }
}

@media (min-width: 480px) {
    .domain-search-button {
        margin: 0;
    }
}


