#wrap {
    background-color: transparent;
    color: #000;
    width: 100%;
    margin: 0 auto;
    position: relative; // makes any absolute element reletive to container
    font: $default-font;
    @media (min-width: $main-content-max-width) {
        width: $main-content-max-width; 
    }
}

.box {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid $theme-container-color;
    padding: 0 1.25em;
    overflow: hidden;
}

.with-pads {
    padding: 20px;
}

.no-pads {
    margin: -20px -21px -21px;  //cater for .box border
}

.full-width {
    width: 100%;
}

// Promo flash
.alert-promo {
    margin: 0;
    a:hover {
        border-bottom: 1px dotted #23527c;
    }
}

.flashref {
    padding: 0;
    text-align: center;
    font-weight: bold;
}

.promo {
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 20px 20px;
    margin: -10px -20px -20px;
    font-size: 1.325em;
}

#flashTitle {
    font-family: 'Eras Bk BT', 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.modal-header {
    padding-bottom: 5px;
    border-bottom: 0;
    background-color: #eee;
    border-radius: 6px;
    .close {
        .glyphicon:before {
            padding: 0;
        }
    }
}

.modal-footer {
    text-align: center;
}

/*****************************************/
/********** PROPERWEB PLUGIN    **********/


.pw-boxes {
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 5px #999;
    margin: 0 auto;
    .with-cussion {
        padding-left: 8px;
        padding-right: 8px;
        @media only screen and (min-width: $screen-md-min) {
            padding-left: 10px;
            padding-right: 10px;
        }
        @media only screen and (min-width: $screen-lg-min) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .list-group {
            margin: 0;
    }
    hr {
        margin: 2em 0;
    }
}

.best-plan {
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    width: auto;
    height: auto !important;
    background: none;
    z-index: 0;
}

.box-header {
    font-weight: 600;
    font-size: 1.6em;
    font-family: 'Eras Bk BT', $main-font-family;
    line-height: 2.5;
    margin: -1px -1px 0;
    color: $lead-color;
}

.pw-packages .list-group {
    font-weight: 600;
}

.pkg-basic .box-header {
    color: #fff;
    background-color: #333;
}

.pkg-standard .box-header {
    color: #fff;
    background-color: #805933;
}

.pkg-premium .box-header {
    background-color: #CD7F32;
}
        
.business-plan {
    @include box-shadow($default-box-shadow);
    background: #eee;
    margin: 10px 0;
}

.pw-contact-form {
    @include box-shadow($default-box-shadow);
    background: $panel-default-heading-bg;
    @media only screen and (max-width: $screen-xs) {
        padding: 0;
    }
}

.best-plan img {
    position: absolute;
    right: 10px;
    top: -9px;
}
        
.plan-bronze {
        background: #CD7F32;
	}
.plan-silver {
	background: #C0C0C0;
	}
.plan-gold {
	background: #FFD700;
	}

.box-feature {
    font-style: italic;
    padding: 1em;
    display: inline;
    color: $lead-color;
    p {
            margin: 0;
            padding: 0 1em;
    }
}
	
.fee {
    font-family: $main-font-family;
    font-size: 2em;
    color: #176FA2;
}

.pw-plans .panel-body.fee {
    padding-bottom: 0;
}

.box-cell.overlay {
    line-height: 1em;
    padding: 7px;
    margin-top: 10px;
}

.btn-default {
    color: $link-color;
    &:hover {
        color: $link-hover-color;
    }
}

/*
.sign-up .rpwp-button.colorize {
    color: #000;
    background-image: linear-gradient(bottom, #fa7b00 0%, #fdb200 48%, #febc00 52%, #fecd00 100%);
    background-image: -o-linear-gradient(bottom, #fa7b00 0%, #fdb200 48%, #febc00 52%, #fecd00 100%);
    background-image: -moz-linear-gradient(bottom, #fa7b00 0%, #fdb200 48%, #febc00 52%, #fecd00 100%);
    background-image: -webkit-linear-gradient(bottom, #fa7b00 0%, #fdb200 48%, #febc00 52%, #fecd00 100%);
    background-image: -ms-linear-gradient(bottom, #fa7b00 0%, #fdb200 48%, #febc00 52%, #fecd00 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #fa7b00), color-stop(0.48, #fdb200), color-stop(0.52, #febc00), color-stop(1, #fecd00) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fecd00', EndColorStr='#fa7b00');
}
.sign-up .rpwp-button.colorize:hover {
    background-image: linear-gradient(bottom, #FA6400 0%, #FD8F00 48%, #FE9D00 52%, #FEAE00 100%);
    background-image: -o-linear-gradient(bottom, #FA6400 0%, #FD8F00 48%, #FE9D00 52%, #FEAE00 100%);
    background-image: -moz-linear-gradient(bottom, #FA6400 0%, #FD8F00 48%, #FE9D00 52%, #FEAE00 100%);
    background-image: -webkit-linear-gradient(bottom, #FA6400 0%, #FD8F00 48%, #FE9D00 52%, #FEAE00 100%);
    background-image: -ms-linear-gradient(bottom, #FA6400 0%, #FD8F00 48%, #FE9D00 52%, #FEAE00 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #FA6400), color-stop(0.48, #FD8F00), color-stop(0.52, #FE9D00), color-stop(1, #FEAE00) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEAE00', EndColorStr='#FA6400');
}
.more-info .rpwp-button.colorize {
    color: #FFF;
    background-image: linear-gradient(bottom, #3E3F3F 0%, #4D4F4F 48%, #5E5E5E 52%, #7F7F7E 100%);
    background-image: -o-linear-gradient(bottom, #3E3F3F 0%, #4D4F4F 48%, #5E5E5E 52%, #7F7F7E 100%);
    background-image: -moz-linear-gradient(bottom, #3E3F3F 0%, #4D4F4F 48%, #5E5E5E 52%, #7F7F7E 100%);
    background-image: -webkit-linear-gradient(bottom, #3E3F3F 0%, #4D4F4F 48%, #5E5E5E 52%, #7F7F7E 100%);
    background-image: -ms-linear-gradient(bottom, #3E3F3F 0%, #4D4F4F 48%, #5E5E5E 52%, #7F7F7E 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #3E3F3F), color-stop(0.48, #4D4F4F), color-stop(0.52, #5E5E5E), color-stop(1, #7F7F7E) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7F7F7E', EndColorStr='#3E3F3F');
}
.more-info .rpwp-button.colorize:hover {
    text-decoration: none;
    background-image: linear-gradient(bottom, #1C1C1C 0%, #323333 48%, #424242 52%, #595959 100%);
    background-image: -o-linear-gradient(bottom, #1C1C1C 0%, #323333 48%, #424242 52%, #595959 100%);
    background-image: -moz-linear-gradient(bottom, #1C1C1C 0%, #323333 48%, #424242 52%, #595959 100%);
    background-image: -webkit-linear-gradient(bottom, #1C1C1C 0%, #323333 48%, #424242 52%, #595959 100%);
    background-image: -ms-linear-gradient(bottom, #1C1C1C 0%, #323333 48%, #424242 52%, #595959 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #1C1C1C), color-stop(0.48, #323333), color-stop(0.52, #424242), color-stop(1, #595959) );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#595959', EndColorStr='#1C1C1C');
}
.button .rpwp-button.colorize {
    padding: 0;
}
.rpwp-button.colorize {
	font-size: 1em;
}
*/
.service .box-header {
    padding: 5px 0;
    }
.service-standard .box-header {
    background: #3E3F3F;
    color: #FFF;
    }
.service-premium .box-header {
    background: #FE9A38;
    color: #000;
    }
.last {
    padding-bottom: 10px;
    }

.pw-group-item {
    margin-bottom: 5px;
}
    
//Contact form
.pw-contact-form {
    .form-group {
        margin: 20px 0;
    }
    .progress {
        margin-top: -20px;
        height: 3px;
    }
}
    
.has-error input,
.has-error textarea {
    background-color: #FCFAD3;
}