
.read-more {
    font-size: .8125rem;
    padding: .625rem 1.25rem .6rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-family: $substitute-font-family;
}
.btn-md {
    @extend .read-more;
    &.round {
        border-radius: 20px;
    }
}


.btn-lg {
    text-transform: uppercase;
    font-weight: bold;
    &.round {
        border-radius: 24px;
    }
}