/***** default CSS *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;    //override Bootstrap's 14px
}

body {
  min-width: inherit;
  background-color: #FCEDED;
  font-family: $main-font-family, $substitute-font-family;
  font-size: 1em;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $main-font-family, $substitute-font-family;
    font-weight: bold;
}

h2 {
    font-size: 1.25em;  //20px
}

h3 {
    font-size: 1.125em; //18px
}

h4 {
    font-size: 1em;     
}

h5 {
    font-size: .875em;  //14px
}

h6 {
    font-size: .75em;   //12px
}

ul, ol, dl, p {
    line-height: $default-line-height;
}

small {
    font-size: 80%; //same as normalize
    code {
            font-size: inherit;
    }
}

label {
    font-size: inherit;
}

td, th {
    border-collapse: collapse;
    border: 1px solid $theme-container-color;
    padding: 15px;
}

th {
    font-weight: 700;
}

table td {
    vertical-align: middle;
}

input#s {
    width: 200px;
}

button,
.button { 
    margin: 0; 
}

.er404 {
    padding: 0 20px 20px;
    text-align: center;
}

p {
    margin: 0 0 $box-spacing;
}

a {
    color: $link-color;
    cursor: pointer;
    &:hover {
        color: $link-hover-color;
    }
}

a:hover, 
a:focus {
    text-decoration: none;
}

img {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}