//Aside
#aside {
    width: 100%;
    padding-top: 10px;
    min-width: 320px;
    @media (min-width: 42.5em) {    // 680px
        width: 320px;
        display: table-cell;
        vertical-align: top;
    }
}

#aside-sidebar,
#menu-sitemap {
    margin: 0;
    padding: 0;
    text-decoration: none;
    .widgettitle {
        margin-top: 0;
    }
    li {
        margin: 0.5rem 0;
        a {
            text-decoration: none;
        }
    }
    ul.children {
        margin-left: 1.25rem;
    }
    .sub-menu {
        margin: 0;
    }
}

#aside-sidebar > li {
    margin-bottom: 1.25rem;
}

#wrap ul.sidebar ul {
    list-style-type: none;
    margin-left: 0;
}

@media (min-width: 42.5em) {    // 680px

    #aside.right-sidebar {
        padding: 20px 20px 0 0;
    }
    
    .row-with-sidebar {
        display: table;
        table-layout: fixed;
        .cell {
            display: table-cell;
            width: 100%;
        }
    }
}