/***** Footer *****/

#footer {
    width: 100%;
    border-top: 0;
    text-align: center;
    font: $footer-default-font;    
    color: $footer-default-text-color;
    padding: 1em;
    margin-top: 0;
    .menu {
        list-style-type: none;
        margin: 10px;
        padding: 0;
        a {
            color: $footer-default-text-color;
            text-decoration: none;
        }
    }
    a {
        text-decoration: none;
        color: $secondary-color;
        &:hover {
            color: $link-hover-color;
        }
    }
    #footer-sidebar {
        color: $secondary-color;
        margin:	0;
        .widget-title {
            font-weight: 700;
            font-family: $footer-default-font-family;
            font-size: $footer-default-font-size;
            margin: 10px 0;
        }
        li.widget {
            display: inline-block;
            box-sizing: border-box;
            width: 100%;
            padding: 0 .7em .7em .7em;
            text-align: left;
            font-weight: 400;
            font-family: $footer-default-font-family;
            font-size: $footer-default-font-size;
            @media (min-width: 21.25em) and (max-width: 42.5em) {   // 340px - 680px
                width: 49%;
            }
            @media (min-width: 42.5em) {
                width: 24%;
            }
        }
        ul, ol, dl {
            font-size: $footer-default-font-size;
        }
    }
}

#footer_menu, 
.footer_menu {
	float: none;
	display: inline-block;
	width: 23%;
	margin: 0;
	padding: 0px;
	vertical-align: top;
	text-align: left;
}
#footer_menu h3, 
.footer_menu h3 {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	margin: 10px;
}
	
#footer_menu ul li, 
.footer_menu ul li {
	padding: 0;
	background: transparent;
	border: none;
	color: #dfdede;
	a {
		padding: 0;
		font-size: $footer-default-font-size;
		line-height: 1;
	}
}

#footer .menu li a:hover {
    color: #00BCFF;
}

#footer-contacts h3 img {
	padding-right: 10px;
	vertical-align: middle;
}

#copyright {
	clear: both;
	float: none;
	width: 100%;
	margin: 0;
	font-weight: normal;
	font-family: $footer-default-font-family;
	font-size: 0.8rem;
	color: #909090;
	text-align: center;
	padding: 10px;
	background-color: transparent;
	a {
            text-decoration: none;
            color: $footer-default-text-color;
            &:hover {
                border-bottom: 1px dotted $footer-default-text-color;
            }
	}
}

