/***** HEADER *****/
#wrapper_fixed, 
#header_top {
    width: 100%;
    height: auto;
    max-width: $main-content-max-width;
    min-width: 320px;
}

#wrapper_fixed {
  background: #fff;
}

#header_top, 
#header {
    width: 100%;
    float: none;
    background: #333;
}

#header_top {
    padding: 0 20px;
    background: #444;
    display: block;
}

#phone {
    float: left;
    padding: 7px 10px 10px 0;
    color: #fff;
} 
#hosting_phone,
#dev_phone {
    float: left;
    width: auto;
    padding: 10px 5px 10px 0;
    text-align: left;
    color: #fff;
    font-size: 0.9em;
}

@media only screen and (max-width: 380px) {
    #phone,
    #dev_phone {
        display: none;
    }
}

#header {
  height: auto;  
  display: none;
    img {
      float: left;  
      margin: 10px;
      padding: 0;
      border: 0;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
    @media only screen and (min-width: 28.75em) {
        display: block;
    }
}

#header_logo {
  width: 500px;
  padding: .5em 0 .5em .5em;
  h1 a {
    font-family: 'Eras Bd BT', Verdana, Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.1;
    display: block;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
    text-transform: uppercase;
    text-decoration: none;
  }
  h2 {
    font-family: $fancy-font-family;
    font-size: 1.5em;
    line-height: 1.2em;
    font-weight: normal;
    color: #fe9a38;
  }
}

#header_logo h1, 
#header_logo h2 {
    margin: 0 0 0 83px;
    padding: 0
}

.breadcrumb {
    margin: 0 .5em;
    a,span {
        font: normal .9em $substitute-font-family;
    }
    >span+span:before {
        content: "/ ";
        padding: 0 5px;
        color: #ccc;
    }
    @media only screen and (min-width: 28.75em) {
        margin: 0;
    }
}

/* Sign In */

#login-form-text {
    margin: 3px 0;
    font-weight: bold;
    position: relative;
    float: right;
    .glyphicon-log-in {
        display: inline-block;
        margin-top: -3px;
    }
}

a#signin {
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 17px;
    &:hover {
        color: #31b0d5;
    }
}
 
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group {
    margin-bottom: 0;
}

#menu-form li.has-form {
    //background-color: #5f76c0;
    border: 1px solid #1a2578;
    border-top: 4px solid #e38922;
    list-style-type: none;
}

#menu-form {
    width: 320px;
    display: none;
    position: absolute;
    right: -20px;
    top: 37px;
    padding: 0;
    margin: 0;
    z-index: 200;
    a {
        color: #64C1BF;
    }
    .panel {
        margin-bottom: 0;
        border-radius: 0;
    }
    .links {
        font-size: 0.875em;
    }
    .form-control {
        font-weight: normal;
        font-style: italic;
    }
}

#login-to-cp,
#login-to-webmail,
#forgotten-pass { width: 100%; }

#login-to-webmail {
	display: none;
}
#forgotten-pass {
	display: none;
}

#crumbs {
    float: none;
    width: 100%;
    margin: 0;
    padding: 5px 10px 5px 20px;
    height: auto;
    font-family: $main-font-family;
    font-weight: 600;
    color: #aaa;
}
/*
#menu-form input.sign-in-button, #fscf_submit2 {
    margin-top: 10px;
    padding: 5px 15px;
    font-size: 1em;
    float: right;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    border: 1px solid #e08824;
    box-shadow: inset 0 -1px 1px #c26b08;
    background: linear-gradient(to bottom,#f2ad5e 0,#e89a41 50%,#e89a41 51%,#e38922 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ad5e',endColorstr='#e38922',GradientType=0);
    outline: 0;
    cursor: pointer;
}
*/